@import url(https://hu.allfont.net/allfont.css?fonts=bauhaus-bold-bt);

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.header {
  height: fit-content;
  width: 100%;
  position: fixed;
  background-image: url('./Images/businesshatter.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.navbar {
  display: flex;
  justify-content: space-between;
  height: fit-content;
  background-color: black;
  padding-block: 1.25rem;
  align-items: center;
  background-color: transparent;
  padding-inline: 5vw;
  background: rgba(117, 117, 117, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-bottom: 1px solid rgba(84, 84, 84, 0.3);
}

.header-logo-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.header-title {
  width: clamp(10rem, 10vw, 10vw);
}

.header-logo {
  width: clamp(3.5rem, 3.5vw, 3.5vw);
  height: 3.5vw;
}

.header-links {
  display: flex;
  gap: 3rem;
}

.header-item {
  text-decoration: none;
  color: white;
  font-size: clamp(1.25rem, 1.25vw, 1.25vw);
  font-weight: 800;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  min-height: fit-content;
}

.item1 {
  border-bottom: 2px solid white;
  padding-bottom: 0.3rem;
}


/* Bemutatkozás Részleg*/

.bemutatkozás {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url('./Images/header-bg.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  min-height: 100vh;
  padding-inline: 10vw;
  padding-block: clamp(10rem, 10vw, 10vw);
  gap: clamp(2rem, 2vh, 2vh);
}

.bemutatkozás-title {
  font-size: clamp(3rem, 3vw, 3vw);
}

.bemutatkozás-paragraph {
  font-size: clamp(1.25rem, 1.25vw, 1.25vw);
  width: clamp(20rem, 40vw, 40vw);
  line-height: clamp(1.75rem, 1.75vw, 1.75vw);
  font-family: 'Poppins', sans-serif;
}

.team {
  display: flex;
  flex-direction: column;
  background-image: url('./Images/teamhatter.png');
  background-size: cover;
  color: white;
  padding-inline: 10vw;
  padding-right: 20vw;
  padding-block: 5vw;
  gap: clamp(3rem, 3vw, 3vw);
}

.team-box {
  display: flex;
  align-items: center;
  gap: clamp(2rem, 2vw, 2vw);
  font-family: Helvetica, sans-serif;
}

.team-text {
  display: flex;
  flex-direction: column;
}

.team-box span:first-of-type {
  font-size: clamp(3rem, 3vw, 3vw);
}

.team-box span:last-of-type {
  font-size: clamp(1.2rem, 1.2vw, 1.2vw);
  margin-bottom: clamp(1rem, 1vw, 1vw);
}

.team-box p {
  font-size: clamp(1.25rem, 1.25vw, 1.25vw);
}

.team-box img {
  width: clamp(10rem, 10vw, 10vw);
}

@media screen and (max-width: 1000px) {


  .header-logo-name {
    position: absolute;
    left: 5vw;
  }



  .header-logo {
    width: 6vw;
    height: 6vw;
  }

  .header-title {
    width: 20vw;
  }

}

@media screen and (max-width: 768px) {
  .header-logo {
    width: 8vw;
    height: 8vw;
  }

  .header-title {
    width: 25vw;
  }

  .team {
    padding-right: 10vw;
  }

  .team-box {
    display: flex;
    flex-direction: column;
    text-align: center;

  }

}